<h3>Add New Movie</h3>
<form action="/add_a_movie" method="post">
  Title: <input type="text" name="movie_title"> <br>
  Director: <input type="text" name="director"> <br>
  Actors: <input type="text" name="actor"> <br>
  Genre: <input type="text" name="genre"> <br>
  Rated: <input type="text" name="rated"> <br>
  Run Time: <input type="number" name="run_time"> <br>
  Year: <input type="number" name="year"> <br>
  Country: <input type="text" name="country"> <br>
  Description: <input type="text" name="description"><br>
  <input type="submit" value="submit"> <br>
</form>
<br/>
