<html>

  <head>
    <meta charset="UTF-8" />
    <title>Books and Flicks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="stylesheet" href="./client/style.css" </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand company-name">Books and Flicks</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="./index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./register.html">Register for membership</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./books.html">Browse books</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./movies.html">Browse movies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./wishlist.html">Wishlist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./downloads.html">Downloads</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./customers.html">Customers</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <form class="login-form" method="post" action="/add_movie">
      <div class="container-fluid">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" id="title" name = title class="form-control movie-title" />
        </div>
        <div class="mb-3">
          <label for="director" class="form-label">Director</label>
          <input type="text" id="director" name="director" class="form-control movie-director" />
        </div>
        <div class="mb-3">
          <label for="rating" class="form-label">Movie Rating</label>
          <input type="text" id="rating" name="rating" class="form-control movie-rating" />
        </div>
        <div class="mb-3">
          <label for="actors" class="form-label">Movie actors</label>
          <textarea class="form-control movie-actors" name="actors" id="actors" rows="3"></textarea>
        </div>
        <div class="mb-3">
          <label for="genre" class="form-label">Genre</label>
          <input type="text" id="genre" name="genre" class="form-control movie-genre" />
        </div>
        <div class="mb-3">
          <label for="runtime" class="form-label">Length of film in minutes</label>
          <input type="number" id="runtime" name="runtime" class="form-control movie-runtime" />
        </div>
        <div class="mb-3">
          <label for="year" class="form-label">Year movie was released</label>
          <input type="number" id="year" name="year" class="form-control movie-year" />
        </div>
        <div class="mb-3">
          <label for="country" class="form-label">Initials of country where movie was made</label>
          <input type="text" id="country" name="country" class="form-control movie-country" />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Short description of movie</label>
          <textarea class="form-control movie-description" name="description" placeholder="Enter a short description of the movie" id="description" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary addMovie-btn">
          Add this movie
        </button>
      </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="./client/script.js"></script>
  </body>

</html>
